body {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/417/444/desktop-wallpaper-don-t-be-scared-pokemon-forest-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.pokeid__container {
    display: flex;
    height: 350px;
    width: 100%;
    position: relative;
    justify-content: center;
    margin-left: 100;
    margin-right: auto;
}

.pokeid__img {
    position: absolute;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-container {
    text-align: center;
    padding: 50px;
}

.name-poke {
    border-radius: 10px;
    padding: 5px;
    display: inline;
}

.number-poke {
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.poke__stats {
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
    list-style: none;
}

.poke__weight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span {
    font-size: 30px;
    font-weight: 700;
    color: #aaa;
}

.poke__span {
    font-size: 30px;
    font-weight: 500;
}

.poke__weight,
.poke__height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke__type-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.poke__type-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.poke__type {

    display: flex;
    text-align: center;
    min-height: 98px;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    gap: 5px;
    box-shadow: 0 3px 6px #00000080;
    border-radius: 10px;
    padding-bottom: 10px;

}

.poke__text {
    margin: 10px auto 0;
    width: 300px;
    height: 30px;
    text-align: center;
}

.poke__type-type {
    background-image: linear-gradient(180deg, #ffe1aa 0, #ffd4a7 16.67%, #ffc7a2 33.33%, #f2b99d 50%, #e1ac97 66.67%, #d1a092 83.33%, #c2968d 100%);
    border-radius: 50%;
    padding: 25px;
}

.poke__type-li {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: capitalize;
}

.poke__abilities {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    min-height: 98px;
    gap: 5px;
    box-shadow: 0 3px 6px #00000080;
    border-radius: 10px;
}

.poke__text {
    margin: 10px auto 0;
    width: 300px;
    height: 30px;
    text-align: center;
}

.poke__abilitie {
    justify-content: center;
    width: 140px;
    margin-bottom: 10px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    background: #aaa;
    padding: 6px;
    color: #fff;
}

.poke__poke-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.poke-card__type {
    list-style: none;
}

.container-poke {
    height: 450px;
    overflow: scroll;
    background-image: radial-gradient(circle at 50% -20.71%, #fffff3 0, #ffffdf 16.67%, #fffeca 33.33%, #f2f2b5 50%, #dce7a1 66.67%, #c6dd91 83.33%, #aed484 100%);
}

.list__stat {
    list-style: none;
    padding: 10px;
}

.poke-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 60px;
}

@media screen and (max-width: 768px) {
    .poke-container {
      grid-template-columns: auto auto;
      gap: 30px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .poke-container {
      grid-template-columns: auto;
      gap: 20px;
    }
  }

.poke__poke-conta {
    text-align: center;
    background-image: radial-gradient(circle at 50% -20.71%, #ff92ff 0, #ff88ff 16.67%, #df7bf1 33.33%, #b46cd8 50%, #8b5dbe 66.67%, #674fa5 83.33%, #47428f 100%);
    display: inline-block;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}